@charset "utf-8";
/* CSS Document */

/* brand  */ 
.brand-lead-legacy-ul { margin:20px 0 0 0;   list-style-position: inside; }
.brand-lead-legacy-ul li { padding:15px 0 0 0; list-style:disc;}
.sudha-mayura-link { padding: 18px 0 0 16px;}
.sudha-mayura-link2 { padding: 0 0 18px 16px;}
.brand-suppliment1  { background:url(../images/brand-banner-suppliment.jpg) no-repeat; background-size:cover; height:306px; }
.brand-suppliment2  { background:url(../images/brand-banner-suppliment-2.jpg) no-repeat; background-size:cover; height:306px; }
.text-align-c {
	text-align:left !important;
}
.suppliment-img-center { margin: 0 auto;}


.brand-image4 {
    float: right;
    width: 85%;
    margin-top: 43px;
}



.table-bold{
    font-weight:600;
}

.yellow-block-brand1 {
    margin-top: 455px;
    background: #ffe370;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
  
    -moz-animation: expandline6 1s;
    -webkit-animation: expandline6 1s;
    animation: expandline6 1s;
}
 @keyframes expandline6 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}


.red-block-brand1 {
    margin-top: 388px;
    background: #ff5151;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline5 1s;
    animation: expandline5 1s;
}

 @keyframes expandline5 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}

.green-block-brand2 {
    margin-top: 425px;
    background: #91e7bb;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline4 1s;
    animation: expandline4 1s;
}
 @keyframes expandline4 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}


.suppli-p {
    padding: 10px 60px 0px 0px;
}
.google-btn { width:183px; }
.apple-btn { width:162px; }
.embed-svg-brand {
	width:8%;
}

.embed-svg-brand-plus {
	width:9%;
	margin-top:160px;
}

.embed-svg-brand-plus1 {
	width:9%;
	margin-top:250px;
}

.embed-svg-brand-plus2 {
	width:9%;
	margin-top:200px;
}

.embed-svg-brand-plus3 {
	width:9%;
	margin-top:230px;
}

.brand-image3 {
    float: left;
    width: 85%;
    margin-top: 43px;
}
.brand-heading {
	font-size: 50px;
	font-weight: 500;
	line-height: 1.03;
	text-align: left;
	color: #4a4a4a;
	 margin: 75px 0 42px 0;
    padding: 0 0 0 15px;
	
}
.header-brand {
	background: url(../svg/brand-banner-gradient.svg) 50% 50%, url(../images/brand-banner.jpg) 50% 66px;
	height: 531px;
	background-repeat: no-repeat, no-repeat;
	z-index:0, 1;
	background-size: cover, cover;
	background-blend-mode: multiply;
}
.brand-lead-legacy {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	padding: 0 15px;
}
.brand-image1 {
    float: left;
        width: 81%;
    margin-top: 44px;
}

.content-width-brand {
	width: 370px;
	margin: 0 0 0 90px;
}
.brand-space-sec1 {
	    margin-top: 199px;
}
.brand-vist-text {
	color:#4a4a4a;
	font-size:32px;
}
.brand-website-text {
	font-size: 24px;
	font-weight: 600;
	color:#1e74ff;
}
.brand-download-text {
	font-size:32px;
	color:#4a4a4a;
	margin-top:37px;
	margin-bottom:10px;
}
.brand-apple-space {
	margin-left:2px;
	margin-top:9px;
	display:inline-block;
}

.brand-apple-space:hover {
	opacity:0.8; 
}
.brand-text-hold {
	padding:89px 0 0 0;
}
.brand-space-sec2 {
	min-height:415px;
	box-sizing:border-box;
	background:#1e74ff;
	color:#FFF;
	max-width:100%;
	margin:0;
	padding:0;
	margin-top:100px;
}
.brand-suppliment-text {
	font-size: 30px;
	width: 100%;
	margin-top: 66px;
	margin-bottom: 60px;
}
.brand-sup-bold-text {
	font-size:32px;
	color:#FFF;
	font-weight:600;
}
.brand-no-pad-mar {
	margin:0;
	padding:0
}
.brand-noleft-pad-mar {
	margin-left:0;
	padding-left:0
}
.brand-img-circle {
	background: #d8d8d8;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display:inline-block;
	margin-right:10px;
	margin-top:37px;
}
.brand-image2 {
    float: right;
    width: 85%;
    margin-top: 43px;
}

.brand-cross-svg {
	float: left;
	
}
.carousel-caption-brand {
	position: absolute;
	left: 18px;
	top: 198px;
	padding-bottom: 30px;
}
.brand-banner-font-h1 {
	font-family: canada-type-gibson, sans-serif;
	font-size: 90px;
	font-weight: 600;
	line-height: 1.06;
	color: #FFF;
	width:85%;
}
.brand-img-position {
	position: relative;
	width: 100%;
}
.brand-onlysm {
	margin-top: 42px;
}
.social-group {
	display:block;
	padding:10px;
}
@media only screen and (min-device-width: 480px) and (orientation: landscape) {
	
.brand-img-position {
 
    width: 67% !important;
	margin: 0 auto;
}

.brand-text-hold {
    padding: 45px 0px 0px !important;
}
	
	}
@media screen and (min-width : 320px){ 
.brand-img-circle:hover { opacity:0.8;}
.sudha-mayura-link {
    padding: 0px;
}

.sudha-mayura-link2 {
    padding: 0px;
}
.brand-suppliment1 {
    background: transparent url("../images/brand-banner-suppliment.jpg") no-repeat scroll -790px 0% / cover;
    height: 306px;
}

.brand-suppliment2 {
    background: transparent url("../images/brand-banner-suppliment-2.jpg") no-repeat scroll -550px 0% / cover;
    height: 306px;
}
.social-group {
	display:block;
	padding:0px;
}
.brand-download-text {
	font-size:30px;
	
}

.brand-onlysm {
	margin-top: 0px;
}

.brand-heading {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.03;
    text-align: left;
    color: #4A4A4A;
    margin: 40px 0px 20px 0px;
    
}

.brand-lead-legacy {
  
    padding: 0px;
}
.brand-mayu-space-sm { margin-top: 90px;}
.text-align-c {
	text-align:center !important;
}
.brand-img-circle {
	background: #d8d8d8;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display:inline-block;
	margin-right:2px;
	margin-top:37px;
}
.brand-space-sec1 {
    margin-top: 98px;
}
.brand-banner-font-h1 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.06;
    color: #FFF;
    width: 100%;
}

.carousel-caption-brand {
    position: absolute;
    left: 15px;
    top: 169px;
    padding-bottom: 30px;
}
.content-width-brand {
    width: auto;
    margin: 0;
}
.brand-heading {
    font-size: 30px;
   
}
.brand-img-position {
  
    width:100%;
}

.brand-text-hold {
    padding: 30px 0px 0px;
}
.brand-website-text {
    font-size: 24px;
   
}
/* .brand-space-sec2 { */
  
    /* padding: 15px; */
/* } */

.brand-noleft-pad-mar {
    margin-left: 0px;
    padding-left: 0px;
}

.brand-sup-bold-text {
	font-size:30px;
	margin-top:30px;
	
}
.brand-space-onlysm-1 {
	padding:34px 0 20px 0;
}	

.green-block-brand1 {
	margin-top: 238px;
	background: #91e7bb;
	position:absolute;
	width: 88%;
	height: 224px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 54%;
	z-index:-1;
	-webkit-animation: expandline7 1s;
	animation: expandline7 1s;
}
 @keyframes expandline7 {
 0% {
height:   0px;
}
 100% {
height:224px;
}
}
.brand-space-sec2 {
    padding: 0 0 50px 0;
}
.yellow-block-brand1 {
	margin-top:242px;
	background: #ffe370;
	position:absolute;
	width: 88%;
	height: 254px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 45%;
	z-index:-1;
	-webkit-animation: expandline6 1s;
	animation: expandline6 1s;
}
 @keyframes expandline6 {
 0% {
height:   0px;
}
 100% {
height:254px;
}
}

.red-block-brand1 {
    margin-top: 223px;
    background: #FF5151 none repeat scroll 0% 0%;
    position: absolute;
    width: 88%;
    height: 224px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline5 1s;
	animation: expandline5 1s;
}

 @keyframes expandline5 {
 0% {
height:   0px;
}
 100% {
height:224px;
}
}

.green-block-brand2 {
    margin-top: 237px;
    background: #91E7BB none repeat scroll 0% 0%;
    position: absolute;
    width: 88%;
    height: 264px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline4 1s;
	animation: expandline4 1s;
}

 @keyframes expandline4 {
 0% {
height:   0px;
}
 100% {
height:264px;
}
}

.brand-vist-text {
	color:#4a4a4a;
	font-size:30px;
}

}

@media screen and (min-width: 768px) {
	
	.brand-suppliment1 {
    background: url(../images/brand-banner-suppliment.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 306px;
}

.brand-suppliment2 {
    background: url(../images/brand-banner-suppliment-2.jpg) 50% 50%  no-repeat;
    background-size: cover;
    height: 306px;
}
	.social-group {
	display:block;
	padding:0px;
}
	
	.brand-heading {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.03;
    text-align: left;
    color: #4A4A4A;
    margin: 75px 0px 32px;
    padding: 0px 0px 0px 15px;
}
	.brand-mayu-space-sm { margin-top:80px;}
	.green-block-brand1 {
    margin-top: 412px;
    background: #91e7bb;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline7 1s;
    animation: expandline7 1s;
}
 @keyframes expandline7 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}

.yellow-block-brand1 {
    margin-top: 455px;
    background: #ffe370;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline6 1s;
    animation: expandline6 1s;
}
 @keyframes expandline6 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}
.red-block-brand1 {
    margin-top: 388px;
    background: #ff5151;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline5 1s;
    animation: expandline5 1s;
}

 @keyframes expandline5 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}

.green-block-brand2 {
    margin-top: 425px;
    background: #91e7bb;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline4 1s;
    animation: expandline4 1s;
}
 @keyframes expandline4 {
 0% {
height:   0px;
}
 100% {
height:344px;
}
}
	.text-align-c {
	text-align:left !important;
}
	.brand-noleft-pad-mar {
    margin-left: 0px;
    padding-left: 0px;
}
	.brand-space-sec1 {
    margin-top: 150px;
}
	
	.brand-space-onlysm {
	padding:12px 0 20px 0;
}	
	.brand-space-onlysm-1 {
    
	padding:120px 0 20px 0;
}
.brand-suppliment-text {
     margin-top: 40px;
margin-bottom: 10px;
}

.content-width-brand {
    width: 340px;
    margin: 0px 0px 0px 50px;
}


.social-group {
    display: block;
    padding: 0px;
}
.brand-apple-space {
	margin-left:0px;
	margin-top:9px;
	display:inline-block;
}
.brand-img-circle {
	
	margin-right:0px;
	
}
.brand-banner-font-h1 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 5em;
    font-weight: 600;
    line-height: 1.06;
    color: #FFF;
    width: 85%;
}
.carousel-caption-brand {
    position: absolute;
    left: 18px;
    top: 132px;
    padding-bottom: 30px;
}
.content-width-brand {
    width: 360px;
    margin: 0px 0px 0px 30px;
}
.brand-heading {
 
	font-size: 50px;
}
.brand-img-position {
	position: relative;
	width: 88%;
}
.brand-text-hold {
    padding: 89px 0px 0px;
}
.brand-website-text {
    font-size: 24px;
  
}

.brand-space-sec2 {
    padding: 0 0 50px 0;
}

.brand-sup-bold-text {
	font-size:32px;
	
}

.brand-onlysm {
	margin-top: 42px;
}


.brand-lead-legacy {
	
	padding: 0 15px;
}

.brand-download-text {
	font-size:32px;
	color:#4a4a4a;
	margin-top:37px;
	margin-bottom:10px;
}
.brand-vist-text {
	color:#4a4a4a;
	font-size:32px;
}
.brand-img-circle:hover { opacity:0.8;}
}
@media only screen  and (min-width : 1224px) {
	.social-group {
	display:block;
	padding:10px;
}
	.brand-heading {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.03;
    text-align: left;
    color: #4A4A4A;
    margin: 75px 0px 32px;
    padding: 0px 0px 0px 15px;
}
	.brand-noleft-pad-mar {
    margin-left: 0px;
   
}
	
	 .brand-space-onlysm {
    
	padding:0;
}
.brand-suppliment-text {
    font-size: 24px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.content-width-brand {
	width: 370px;
	margin: 0 0 0 90px;
}

.social-group {
    display: block;
    padding: 0;
}
.brand-apple-space {
	margin-left:2px;
	margin-top:9px;
	display:inline-block;
}
.brand-img-circle {
	background: #d8d8d8;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display:inline-block;
	margin-right:6px;
	margin-top:37px;
}

.brand-img-circle:hover { opacity:0.8;}
.brand-banner-font-h1 {
    font-family: canada-type-gibson,sans-serif;
    font-size: 90px;
    font-weight: 600;
    line-height: 1.06;
    color: #FFF;
    width: 85%;
}
.carousel-caption-brand {
    position: absolute;
    left: 18px;
    top: 198px;
    padding-bottom: 30px;
}
.content-width-brand {
   width: 430px;
        margin: 0px 0px 0px 50px;
}
.brand-heading {
	font-size: 50x;

	
}
.brand-img-position {
	position: relative;
	width: 100% !important;
}
.brand-image2 {
    float: right;
    width: 85%;
    margin-top: 43px;
}
.brand-space-sec1 {
          margin-top: 199px;
}
.brand-text-hold {
    padding: 89px 0px 0px !important; 
}
.brand-website-text {
    font-size: 24px;
   
}
.green-block-brand1 {
    margin-top: 412px;
    background: #91e7bb;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline7 1s;
    animation: expandline7 1s;
}
 @keyframes expandline7 {
 0% {
    height: 0px;
}

25% {
    height: 0px;
}

50% {
    height: 0px;
}

100% {
    height: 344px;
}
}

.yellow-block-brand1 {
    margin-top: 455px;
    background: #ffe370;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline6 1s;
    animation: expandline6 1s;
}
 @keyframes expandline6 {
 0% {
    height: 0px;
}

25% {
    height: 0px;
}

50% {
    height: 0px;
}

100% {
    height: 344px;
}
}
.red-block-brand1 {
    margin-top: 388px;
    background: #ff5151;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 54%;
    z-index: -1;
    -webkit-animation: expandline5 1s;
    animation: expandline5 1s;
}

 @keyframes expandline5 {
0% {
    height: 0px;
}

25% {
    height: 0px;
}

50% {
    height: 0px;
}

100% {
    height: 344px;
}
}

.green-block-brand2 {
    margin-top: 425px;
    background: #91e7bb;
    position: absolute;
    width: 88%;
    height: 344px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 44%;
    z-index: -1;
    -webkit-animation: expandline4 1s;
    animation: expandline4 1s;
}
 @keyframes expandline4 {
0% {
    height: 0px;
}

25% {
    height: 0px;
}

50% {
    height: 0px;
}

100% {
    height: 344px;
}
}

.brand-space-sec2 {
 
    padding: 0px;
}

.brand-sup-bold-text {
	font-size:32px;
	margin-top:0;
	
}

.text-align-c {
	text-align:left !important;
}


.brand-mayu-space-sm { margin-top:10px;}

.brand-lead-legacy {
	
	padding: 0 15px;
}

.brand-download-text {
	font-size:32px;
	color:#4a4a4a;
	margin-top:37px;
	margin-bottom:10px;
}

.brand-vist-text {
	color:#4a4a4a;
	font-size:32px;
}
.sudha-mayura-link {
    padding: 18px 0 0 16px;
}
.sudha-mayura-link2 {
    padding: 0 0 18px 16px;
}

.brand-suppliment1 {
    background: url(../images/brand-banner-suppliment.jpg) 50% 50% no-repeat;
    background-size: cover;
    height: 306px;
}
.brand-suppliment2 {
    background: url(../images/brand-banner-suppliment-2.jpg) 50% 50%  no-repeat;
    background-size: cover;
    height: 306px;
}

}
