@charset "utf-8";
/* CSS Document */
.morecontent span {
	display: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.morelink {
	display: block;
	float: right;
	margin: 30px;
	font-weight: 300;
}
.part-heading {
	font-size: 60px;
	font-weight: 500;
	line-height: 1.03;
	text-align: left;
	color: #4a4a4a;
	padding: 70px 0 70px 15px;
}

.text-align-c {
	text-align:left !important;
}
.ptship-heading {
	font-size: 45px;
	padding: 1px 0px 35px 14px;
}
.partner-svg-top {
	margin-top:110px;
}
.ptship-lead-jumbo {
	font-size: 26px;
	padding: 30px 70px;
}
.ptship-lead {
	font-size: 16px;
	min-height: 127px;
}
.carousel-caption-commu {
	position: absolute;
	left: 0px;
	top: 200px;
	padding-bottom: 30px;
}
.slider-partner-header {
	font-size:28px;
	color:#4a4a4a;
	font-weight:600;
}
.prtship-content {
	width: 31%;
	padding: 0 0 0 18px;
}
.ptship-event-p {
	font-size:16px;
	color:#4a4a4a;
	margin-top:42px;
}
.ptsgip-grey {
	background: #e2e2e2;
	padding: 36px 0 60px 0;
	margin: 100px 0 0 0;
}
.ptr-inner-h3 {
	font-size:28px;
	font-weight:700;
	color:#4a4a4a;
	margin-bottom:23px;
}
/*--community --*/
.community-banner-font {
	font-family: canada-type-gibson, sans-serif;
	font-size: 90px;
	font-weight: 600;
	line-height: 1.06;
	color: #FFF;
	width: 90%;
	padding: 0 0 0 15px;
}
.header-community {
	background: url(../svg/community-gradient.svg) 50% 50% no-repeat, url(../images/community-banner.jpg) 50% 69px no-repeat;
	height: 530px;
	z-index: 0, 1;
	background-size: cover, cover;
	background-blend-mode: multiply;
}

 @media screen and (min-width : 320px) {

	.part-heading {
		padding: 40px 0 20px 15px;
		font-size: 30px;
	}
.ptship-lead-jumbo {
	font-size: 20px;
	padding:0;
}
.partner-svg-top {
	margin-top: 50px;
}
.prtship-content {
	width: 100%;
	padding: 20px 0px 0px 18px;
}
    .carousel-caption-commu {
        /*left: 15px; */
        top: 169px;
    }
.text-align-c {
	text-align:center !important;
}
.ptship-heading {
	font-size: 30px;
	padding: 1px 0px 35px 14px;
}
.header-community {
    background: url("../svg/community-gradient.svg") no-repeat scroll 50% 50% / cover , transparent url("../images/community-banner.jpg") no-repeat scroll 82% 69px / cover;
    height: 530px;
    background-blend-mode: multiply;
}
/*--community --*/	 
.community-banner-font {
	font-size: 45px;
    width:100%;
}

}
 @media screen and (min-width: 768px) {
	 
	 .carousel-control {
    
    left: 53px;
   
}

.carousel-control.right {
   
    right: -4px;
}

	.part-heading {
		font-size: 60px;
		font-weight: 500;
		line-height: 1.03;
		text-align: left;
		color: #4a4a4a;
		padding: 70px 0 70px 15px;
	}
.prtship-content {
	width: 100%;
	padding: 20px 0px 0px 18px;
}
.ptship-event-p {
	margin-top: 22px;
}
.partner-banner-font {
	font-size: 5em;
}
.ptship-lead-jumbo {
	font-size: 26px;
	padding: 30px 70px;
}
.partner-svg-top {
	margin-top: 110px;
}
.carousel-caption-commu {
	left: 0px;
	top: 130px;
}
.text-align-c {
	text-align:center !important;
}
.ptship-heading {
	font-size: 45px;
}
/*--community --*/	
	 
	 .community-banner-font {
	font-size: 5em;
}
/*--community close--*/
}

@media(min-width:992px){  
.carousel-control.right {
    right: 155px;
}

}
 @media only screen and (min-width : 1224px) {
	 
	 .carousel-control.right {
    right: -62px;
}

.carousel-control {
    left: -57px;
}

	.part-heading {
		font-size: 60px;
		font-weight: 500;
		line-height: 1.03;
		text-align: left;
		color: #4a4a4a;
		padding: 70px 0 70px 15px;
	}
.ptship-heading {
	font-size: 45px;
}
.prtship-content {
	width: 31%;
	padding: 0px 0px 0px 18px;
}
.ptship-event-p {
	margin-top: 30px;
}
.ptship-lead-jumbo {
	font-size: 26px;
	padding: 30px 70px;
}
.partner-svg-top {
	margin-top: 110px;
}
.carousel-caption-commu {
	left: 0px;
		top: 200px;
}
.text-align-c {
	text-align:left !important;
}
/*--community --*/	

.community-banner-font {
	font-size: 90px !important;
	width:85%;
}

}

